.banner1 {
    max-width: 100%;
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap {
    display: table;
    min-width: 100%;
    min-height: 600px;
}

.text-content {
    min-width: 100%;
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

h1 {
    max-width: 782px;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

a {
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.banner2 {
    min-width: 100%;
    height: 443 px;
    background-color: rgba(206, 211, 202, 1);
}

.wrap2 {
    display: table;
    min-width: 100%;
    min-height: 443px;
}

.text-content-2 {
    min-width: 100%;
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.banner2-h1 {
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(26, 26, 26, 1);
    margin-bottom: 0;
}

.banner2-p {
    max-width: 373px;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(26, 26, 26, 1);
    padding-top: 19px;
    margin-bottom: 0;
    padding-bottom: 56px;
}

.banner2-input {
    padding-top: 46px;
    min-width: 338px;
    min-height: 48px;
    background: #FFFFFF;
    border: 1px solid #242424;
    box-sizing: border-box;
    border-radius: 0px;
}

.banner2-input2 {
    padding-top: 46px;
    width: 66px;
    min-height: 48px;
    background: #FFFFFF;
    border: 1px solid rgba(36, 36, 36, 1);
    border-radius: 0px;
}

@media screen and (max-width:768px) {
    .text-content h1 {
        font-size: 25px;
        line-height: 34px;
    }

    .banner2-input,
    .banner2-input2 {
        min-height: auto;
        min-width: auto;
        max-height: 35px;
    }
}