<div class="container">
    <div class="row main-row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row row-menu">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 left-col">
                    <div class="menu1">
                        <p> <a href="">Customer Service</a></p>
                        <p> <a href="">Help / FAQ</a></p>
                        <p> <a href="">Returns & Exchanges</a></p>
                        <p> <a href="">Sizing</a></p>
                        <p><a href="">Gift Cards</a></p>
                        <p> <a href="">Contact Us</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 right-col">
                    <div class="menu2">
                        <p> <a href="">Customer Service</a></p>
                        <p> <a href="">Help / FAQ</a></p>
                        <p> <a href="">Returns & Exchanges</a></p>
                        <p> <a href="">Sizing</a></p>
                        <p><a href="">Gift Cards</a></p>
                        <p> <a href="">Contact Us</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-half">
            <div class="p-wrapper">
                <div class="p-wrapper2">
                    <p class="p-right">© Ugmonk 2021</p>
                    <p class="p-right">All images and content may not be used without permission</p>
                </div>
                <img src="./assets/img/footerImg.png" alt="">
            </div>
            <div class="icon-wrapper">
                <a href="" class="icon1"> <img src="./assets/img/footerInst.png" alt=""></a>
                <a href="" class="icon2"> <img src="./assets/img/twitter.png" alt=""></a>
                <a href="" class="icon3"><img src="./assets/img/facebook.png" alt=""></a>
            </div>
        </div>
    </div>
</div>