img {
    object-fit: contain;
}

.container {
    /* border: solid red; */
    padding-bottom: 45px;
}

.navbar {
    padding-top: 39px;
    margin-top: 0;
    /* border: solid green; */
    min-height: 160px;
}

h1 {
    padding-top: 7px;
    padding-right: 26px;
    font-family: Roboto;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(26, 26, 26, 0.71);

}

.navbar-brand-wrapper {
    display: flex;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-expand-lg {
    justify-content: space-around;
}

a {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(42, 42, 42, 1);
    cursor: pointer;
}

.search-wrapper {
    display: block;
}

.search-wrapper-flex {
    display: flex;
    justify-content: right;
}

p {
    margin-bottom: 0;
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: rgba(42, 42, 42, 1);
}

.p1,
.p2,
.p4,
.p5 {
    padding-right: 13px;
}

.p3 {
    padding-right: 29px;
}

.p7 {
    padding-left: 29px;
}

.vertical-line-wrapper {
    position: relative;
}

.vertical-line {
    position: absolute;
    top: -4px;
    left: -2px;
    padding-top: 5px;
}

.input-wrapper {
    position: relative;
}

.input-search-field {
    min-width: 320px;
    min-height: 63px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    border-radius: 0px;
    outline: 1px solid #DDDDDD;
    outline-offset: -10px;
}


/* @media */

@media screen and (max-width:992px) {
    .input-search-field {
        max-width: 320px;
        left: -359px;
    }

    .vertical-line {
        top: -5px;
        left: -2px;
    }

    .container-fluid {
        position: relative;
    }

    .navbar-collapse {
        width: 100%;
        position: absolute;
        top: 90px;
        left: 0;
        z-index: 3;
        background-color: white;
    }

    .navbar-collapse .navbar-nav .nav-link {
        text-align: center;
    }

    .navbar-light .navbar-toggler {
        position: absolute;
        left: 36%;
    }
}


@media screen and (max-width: 768px) {
    .container-fluid {
        justify-content: center;
    }

    .navbar-brand-wrapper {
        padding-bottom: 60px;
    }

    .navbar-light .navbar-toggler {
        top: 30%;
        left: 44%;
    }

    .navbar-expand-lg {
        justify-content: center;
    }

    .navbar-collapse {
        top: 120px;
    }

    .input-search-field {
        margin-left: 82px;
    }

    .vertical-line {
        top: -4px;
        left: -2px;
    }

    .search-wrapper {
        width: 100%;
        display: grid;
    }

    .search-wrapper-flex {
        padding-top: 20px;
        padding-left: 60px;
        justify-content: center;
    }
}

@media screen and (width: 768px) {
    .input-search-field {
        margin-left: 172px;
    }
}

@media screen and (max-width: 576px) {
    .input-search-field {
        margin-left: 98px;

    }
}

@media screen and (width: 576px) {
    .input-search-field {
        margin-left: 82px;
    }
}

@media screen and (max-width: 571px) {
    .vertical-line {
        top: -5px;
        left: -2px;
    }
}

@media screen and (max-width: 560px) {
    .input-search-field {
        margin-left: 90px;
    }
}

@media screen and (max-width: 550px) {
    .input-search-field {
        margin-left: 85px;
    }
}

@media screen and (max-width: 540px) {
    .input-search-field {
        margin-left: 80px;
    }
}

@media screen and (max-width: 525px) {
    .input-search-field {
        margin-left: 75px;
    }
}

@media screen and (max-width: 515px) {
    .input-search-field {
        margin-left: 70px;
    }
}

@media screen and (max-width: 505px) {
    .input-search-field {
        margin-left: 65px;
    }
}

@media screen and (max-width: 500px) {
    .input-search-field {
        margin-left: 60px;
    }

}