<div class="container">
    <div class="row">
        <div class="col">
            <h1>Our mission is to create simple, beautiful objects that combine form and function.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="./assets/img/banner3Category1.png" alt="">
            <a href="">Shop mens →</a>
        </div>
        <div class="col-lg-6">
            <img src="./assets/img/banner3Category2.png" alt="">
            <a href="">Shop womans →</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <img src="./assets/img/banner3Category3.png" alt="">
            <a href="">Shop Objects →</a>
        </div>
    </div>
</div>
